<!DOCTYPE HTML>
<html>
    <head>
        <title>Build-a-Blog</title>
        <p>
            <a href='/blog'>Main Blog Page</a>
        </p>
        <p>
            <a href='/newpost'>New Blog Post</a>
        </p>

        <style>
            .error {
                color: red;
                }
            .title {
                padding: 5px;
            }
            .entry {
                padding: 5px;
            }
        </style>
    </head>

<body>

    {% block content %}
    {% endblock %}

</body>
</html>
