{% extends "base.html" %}

{% block content %}
    <h1 align="center">Add a Blog Entry</h1>
    <form method='post'>
        <label>
            <div class='title'>
                New Blog Title:
            </div>
            <input type='text' name='title' value='{{title}}' />
        </label>

        <label>
            <div class='entry'>
                New Blog Post:
            </div>
            <textarea name='new_entry' value='{{new_entry}}'></textarea>
        </label>

        <div class='error'>
            {{error}}
        </div>
        <input type='submit' value='Add entry' />
    </form>

{% endblock %}
